@keyframes moveAround {
    0% {
        transform: translateX(-70px);
    }

    50% {
        transform: translateX(70px);
    }

    100% {
        transform: translateX(-70px);
    }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('./images/bg-image.png');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

canvas {
    display: block;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    max-height: 100vh;
    background: transparent;
    position: relative;
}
