<!DOCTYPE html>
<html>
    <head>
        <title>Octopuses game</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="./main.css" />
    </head>

    <body>
        <div id="app"></div>

        <script type="application/json" src="./index.ts"></script>
    </body>
</html>
