<!DOCTYPE html>
<html>
    <head>
        <title>Octopuses game</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="./main.css" />
    </head>

    <body>
        <div id="app"></div>
        <img src="./images/1.png" class="parallaxBackground parallaxBackground1" />
        <img src="./images/2.png" class="parallaxBackground parallaxBackground2" />
        <img src="./images/3.png" class="parallaxBackground parallaxBackground3" />
        <img src="./images/4.png" class="parallaxBackground parallaxBackground4" />
        <img src="./images/5.png" class="parallaxBackground parallaxBackground5" />

        <script type="application/json" src="./index.ts"></script>
    </body>
</html>
